<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="description" content="Digitize and Translate your notes with Azure Cognitive Services and Python.">
    <title>Slack-Bot</title>
</head>
<body>
    
    <div class="container">
        <div class="header">
            <h1 id="title">Slack-Bot Deployment </h1>
            
        </div>
    
        <div class="logs"> 
            <div class="log"><i class="fa fa-check-circle" style="color:green" ></i>  Establishing Connection.</div> 
            <div class="log"><i class="fa fa-check-circle" style="color:green"></i>  Connection Established</div> 
            <div class="log"><i class="fa fa-check-circle" style="color:green"></i>  Establishing Connection with Slack Api</div> 
            <div class="log"><i class="fa fa-check-circle" style="color:green"></i>  Requesting OAuth & Permission </div> 
            <div class="log"><i class="fa fa-check-circle" style="color:green"></i>  Bot User OAuth Token Verified</div> 
            <div class="log"><i class="fa fa-check-circle" style="color:green"></i>  Slack Has Been Sucessfully Connected With Azure App Service</div>  
            <div class="log"><i class="fa fa-check-circle" style="color:green"></i>  Slack Bot Successfully Deployed</div> 
            <div class="log"><i class="fa fa-check-circle" style="color:green"></i>  Launch the Slack App or try the web version.</div> 
        </div>
    </div>

</body>
</html>
