<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <meta name="description" content="Digitize and Translate your notes with Azure Cognitive Services and Python.">
    <title>Slack-Bot</title>
</head>
<body>
    
    <div class="container">
        <div class="header">
            <h1 id="title">Slack-Bot deployment log</h1>
            <p id="description">Slack Deployment Log</p>
        </div>
        
        <ul>
            <i class="fa fa-check-circle" style="font-size:24px">Establishing Connection With  https://github.com/srabbitarifica/abs_slack_flask_app</i>
            <i class="fa fa-check-circle" style="font-size:24px">Connection Established</i>
            <i class="fa fa-check-circle" style="font-size:24px">Establishing Connection with Slack Api</i>
            <i class="fa fa-check-circle" style="font-size:24px">Requesting OAuth & Permission </i>
            <i class="fa fa-check-circle" style="font-size:24px">Bot User OAuth Token Verified</i>
            <i class="fa fa-check-circle" style="font-size:24px">Slack Has Been Sucessfully Connected With Azure App Service</i>
            <i class="fa fa-check-circle" style="font-size:24px">https://portal.azure.com/#@absolutcountgmail.onmicrosoft.com/resource/subscriptions/aaae88ce-5fec-41ad-b7b6-73fa08d92147/resourcegroups/slack/providers/Microsoft.Web/sites/slack-0/appServices</i>
            <i class="fa fa-check-circle" style="font-size:24px">Slack Bot Successfully Deployed</i>
            <i class="fa fa-check-circle" style="font-size:24px">Slack Bot Successfully Deployed</i>
        </ul>  
        

</body>
</html>
